.view-cvs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  
  mat-card {
    width: 100%;
    max-width: 800px;
  }
  
  table {
    width: 100%;
  }
  