<div class="sign-up-container">
    <mat-card class="sign-up-card">
      <mat-card-header>
        <mat-card-title>Înregistrare</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" required />
            <mat-error *ngIf="signUpForm.get('email')?.invalid">Email invalid</mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Parolă</mat-label>
            <input matInput formControlName="password" type="password" required />
            <mat-error *ngIf="signUpForm.get('password')?.invalid">Parola trebuie să aibă cel puțin 6 caractere</mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Confirmă Parola</mat-label>
            <input matInput formControlName="confirmPassword" type="password" required />
            <mat-error *ngIf="signUpForm.get('confirmPassword')?.hasError('passwordMismatch')">
              Parolele nu coincid
            </mat-error>
          </mat-form-field>
  
          <button mat-raised-button color="primary" type="submit" [disabled]="signUpForm.invalid">
            Înregistrează-te
          </button>
        </form>
        <button mat-stroked-button color="accent" class="back-button" (click)="goBack()">
          Înapoi la Home
        </button>
        <div class="link-container">
          <button mat-button routerLink="/login" class="link-button">
           Înapoi la login
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  