<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Autentificare</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" required />
          <mat-error *ngIf="loginForm.get('email')?.invalid">Email invalid</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Parolă</mat-label>
          <input matInput formControlName="password" type="password" required />
          <mat-error *ngIf="loginForm.get('password')?.invalid">Parolă necesară</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
          Autentificare
        </button>
      </form>
      <div class="link-container">
        <button mat-button routerLink="/sign-up" class="link-button">
          Nu ai cont?
          <br>
         Înregistrează-te
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
